---
import Container from '../Container.astro';
import Badge from '../Badge.astro';

const questions = [
    {
        q: 'What happens after I subscribe?',
        answer: `After subscribing, you will receive the access to your private Trello board within 24 hours. You can directly start adding tasks to the board once you get access.<br><br> We'll start working on your requests as soon as we receive access to your Shopify store.`,
    },
    {
        q: 'Why wouldn\'t I just hire a full-time developer?',
        answer: `Great question! Hiring a really good Shopify expert can cost more than $100,000 every year, and you might not have enough work for them to do all the time. So, you end up paying for time they're not working. But don't worry, we have a better way to help you!<br><br>Enter Futuremerce, where you pay a simple monthly fee to receive the development work you need completed. Additionally, with the pause feature, you only pay for the service when you actually need it so you can use it one month, then stop for a bit when you don't need any work completed. Then start again once you need some more development done.`,
    },
    {
        q: 'How does the pause feature work?',
        answer: `In case you don't need our services during a period, you may always pause your subscription within your billing dashboard.<br><br>A billing period is based on 31 days, so once you pause your subscription, the remaining days will be reused once you resume it, no matter how much time has gone by.`,
    },
    {
        q: 'Is there a limit to how many requests I can have?',
        answer: `Once subscribed, you're able to add as many development requests to your queue as you'd like, and they will be delivered one by one.`,
    },
    {
        q: 'What if I only have a single request?',
        answer: `That's no problem. You can pause your subscription when finished and return when you have additional development needs. That's the beauty of a Futuremerce development subscription.`,
    },
    {
        q: 'What sort of development requests can I make?',
        answer: `We handle all sorts of requests including but not limited to:<br>- Building new features for your shopify store (such as adding product review functionality, etc)<br>- Optimizing the speed of your store<br>- Bug fixes, installing apps, etc.<br><br>We do have a few exceptions though, we do NOT offer the following:<br>- Inventory Management<br>- Advertising (for example, setting up ads for your store)<br>- Customer Support<br><br>If you are not sure, don't hesitate to reach out to us.`,
    },
    {
        q: 'What if I don\'t like the work completed?',
        answer: `Not happy with the work we've done? No worries!<br>We'll continue revising until you're 100% satisfied`,
    },
    {
        q: 'What tech stack does your team use?',
        answer: `Our team has a wide range of experience with Shopify related technologies including, but not limited to: HTML, CSS, Sass, Liquid, and JavaScript. <br><br> If you have very specific needs, or are looking for technical advice regarding your store, feel free to <a href="/contact#book-a-call">book a call</a> with us. We're always happy to help :)`,
    },
]
---

<section class="faqs" id="faqs">
    <Container>
        <Badge text="FAQs" />
        <h2 class="faqs_title">Frequently Asked <span>Questions</span></h2>
        {questions.map(q => <div class="faqs_question-wrapper">
            <div class="faqs_question">
                <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(#filter0_d_0_1)"><circle cx="36" cy="36" r="16" fill="white"/></g><path d="M28 36.6154V35.3846H35.3846V28H36.6154V35.3846H44V36.6154H36.6154V44H35.3846V36.6154H28Z" fill="black"/><defs><filter id="filter0_d_0_1" x="0" y="0" width="72" height="72" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="10"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.09 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape"/></filter></defs></svg>

                {q.q}
            </div>
            <div class="faqs_answer">{q.answer}</div>
        </div>)}
        <p class="faqs_text">Got another question? Send us an email - <a href="mailto:hello@futuremerce.co">hello@futuremerce.co</a>.</p>
    </Container>
</section>

<script is:inline>
    document.querySelectorAll('.faqs_question').forEach(qEl => {
        qEl.nextElementSibling.innerHTML = qEl.nextElementSibling.textContent;

        qEl.addEventListener('click', function(e) {
            if (e.target.parentNode.classList.contains('active')) {
                e.target.parentNode.classList.remove('active');
            } else {
                const activeFAQ = document.querySelector('.faqs_question-wrapper.active');
                if (activeFAQ) activeFAQ.classList.remove('active');
                e.target.parentNode.classList.add('active');
            }

            dataLayer.push({
                event: 'faq_interaction',
                faq_text: e.target.textContent,
            });
        });
    });

    document.querySelector('.faqs_text a').addEventListener('click', function(e) {
        dataLayer.push({
            event: 'link_click',
            link_text: e.target.textContent,
            link_url: e.target.href,
        });
    });
</script>

<style lang="scss">
    .faqs {
        padding-top: 150px;

        @media screen and (max-width: 710px) {
            padding-top: 60px;
        }
        
        &_title {
            color: #434343;
            text-align: center;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            margin: 0 auto 65px auto;

            > span {
                color: var(--lighter-purple);
            }

            @media screen and (max-width: 942px) {
                font-size: 32px;
                line-height: 40px;
            }

            @media screen and (max-width: 450px) {
                font-size: 26px;
                line-height: 32px;
            }
        }

        &_question-wrapper {
            border-radius: 12px;
            background: #FFF;
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
            width: 100%;
            max-width: 742px;
            margin: 0 auto 24px auto;

            .faqs_question {
                display: flex;
                align-items: center;
                color: #434343;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 50px;
                cursor: pointer;
                padding: 20px 32px;

                > svg {
                    margin-right: 12px;
                    transition: .4s ease-in-out;
                    transform: rotate(0deg);
                    
                    * {
                    transition: .4s ease-in-out;
                    }

                    @media screen and (max-width: 710px) {
                        margin-right: 4px;
                    }
                }

                @media screen and (max-width: 710px) {
                    padding: 8px 12px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .faqs_answer {
                display: none;
                padding: 0 32px 20px;
                color: #363636;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;

                @media screen and (max-width: 710px) {
                    font-size: 14.5px;
                    line-height: 26px;
                }
            }

            &.active {
                .faqs_answer {
                    display: block;
                }

                .faqs_question > svg {
                    transform: rotate(45deg);

                    circle {
                        fill: var(--lighter-purple);
                    }

                    path {
                        fill: #fff;
                    }
                }
            }
        }

        &_text {
            color: #434343;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-top: 65px;

            > a {
                text-decoration: underline;
                color: var(--lighter-purple);
            }

            @media screen and (max-width: 710px) {
                font-size: 15px;
                line-height: 22px;        
            }
        }
    }
</style>