<header class="header">
    <h1 class="header_title">The <span>  Shopify Developers</span> 
    you’ve been looking for</h1>
    <p class="header_text">We replace unreliable freelancers and expensive agencies with a simple, subscription service for your development needs.</p>
    <div class="header_btns">
        <a href="#pricing" class="primary" title="View plans">View Plans <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="white"/></svg>
        </a>
        <!--<a href="#how-it-works" class="secondary">How It Works</a>-->
    </div>
    <div class="header_available-now"><div></div> Available now</div>
    <!--<Image class="header_image" src={heroImage} alt="" loading="eager"> -->
</header>

<script is:inline>
    document.querySelectorAll('.header_btns a').forEach(btn => {
        btn.addEventListener('click', function(e) {
            dataLayer.push({
                event: 'button_click',
                button_text: e.target.textContent,
                button_url: e.target.href,
                button_location: 'Header',
            });
        });
    });
</script>

<style lang="scss">
    .header {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 96px 0 0;
        min-height: 40vh;

        @media screen and (min-height: 1200px) {
            justify-content: center;
        }

        @media screen and (max-width: 767px) {
            padding-top: 0px;
        }
                
        @keyframes pulse {
            0% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(0, 225, 0, 0.7);
            }

            70% {
                transform: scale(1);
                box-shadow: 0 0 0 5px rgba(0, 225, 0, 0);
            }

            100% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(0, 225, 0, 0);
            }
        }

            &_available-now {
                margin: 22px 0 0 0;
                display: flex;
                align-items: center;
                gap: 4px;
                color: black;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                
                > div {
                    background: rgb(0, 204, 0);
                    border-radius: 50%;
                    margin: 10px 5px;
                    height: 10px;
                    width: 10px;
                    box-shadow: 0 0 0 0 rgba(0, 204, 0, 1);
                    transform: scale(1);
                    animation: pulse 2s infinite;
                }
            }

            @keyframes texthighlight {
                from {
                    width: 0;
                    height: 0;
                }

                to {
                    width: 520px;
                    height: 75px;
                }
            }

            @keyframes cursormovement {
                from {
                    bottom: 41px;
                    right: calc(100% - 7px);
                }

                to {
                    bottom: -31px;
                    right: -38px;
                }
            }

        &_title {
            color: #434343;
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 72px;
            max-width: 760px;

             > span {
                 color: var(--lighter-purple);
                 margin: 0 0 0 .5ch;
                 position: relative;

                 &:before {
                    content: '';
                    border: 1px solid var(--lighter-purple);
                    background: #E8E5FF;
                    position: absolute;
                    width: 520px;
                    height: 75px;
                    z-index: -1;
                    left: -15px;

                    @media screen and (min-width: 943px) {
                        animation-name: texthighlight;
                        animation-duration: 2s;
                    }
                 }

                 &:after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 33px;
                    height: 33px;
                    bottom: -31px;
                    right: -38px;
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 43 43" fill="none"><path d="M23.7067 20.6548L31.6149 30.2422L28.4345 32.8669L20.5243 23.2817L16.5677 29.2878L11.6466 9.28214L30.3553 17.9118L23.7067 20.6548Z" fill="%23212121"/></svg>');
                    @media screen and (min-width: 943px) {
                        animation-name: cursormovement;
                        animation-duration: 2s;
                    }
                 }
            }

            @media screen and (max-width: 942px) {
                font-size: 32px;
                line-height: 50px;
                max-width: 510px;

                > span {
                    margin: 0 0 0 .35ch;

                    &:before {
                        width: 335px;
                        height: 55px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    }

                    &:after {
                        right: -28px;
                    }
                }
            }

            
            @media screen and (max-width: 710px) {
                padding: 0 24px;
                line-height: 58px;
                max-width: 472px;

                > span {
                    margin: 0 .35ch 0 .5ch;
                    display: inline-block;

                    &:before {
                        left: -10px;
                        top: 2.5px;
                        transform: none;
                        height: 50px;
                        width: 340px;
                    }
                    
                    &:after {
                        bottom: -17px;
                        transform: scale(.75);
                        right: -27px;

                    }
                }
            }

            @media screen and (max-width: 450px) {
                font-size: 26px;
                line-height: 46px;

                > span:before {
                    width: 280px;
                    height: 40px;
                }
            }

            @media screen and (max-width: 327px) {
                font-size: 24px;
                line-height: 43px;

                > span:before {
                    width: 260px;
                }
                > span:after {
                    bottom: -23px;
                }
            }
        }

        &_text {
            color: #7A7A7A;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin: 28px auto;
            max-width: 651px;

            @media screen and (max-width: 942px) {
                font-size: 16px;
                line-height: 150%;
                max-width: 480px;
                margin: 16px auto 20px;
                padding: 0 24px;
            }

            
            @media screen and (max-width: 450px) {
                margin: 20px auto 40px;
            }
        }

        &_btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 21px;

                @media screen and (max-width: 710px) {
                    padding: 0 24px;
                    width: 100%;
                    max-width: 450px;
                }

            > a {
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding: 16px 20px;
                border-radius: 8px;
                text-decoration: none;
                transition: .25s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    margin-left: 8px;
                    width: 12px;
                    height: 12px;
                }
                
                @media screen and (max-width: 942px) {
                    font-size: 14px;
                    padding: 12px 16px;
                }

                @media screen and (max-width: 710px) {
                    width: 100%;
                    display: block;
                    text-align: center;
                    padding: 16px 0;
                }

                &.primary {
                    color: #fff;
                    background: var(--lighter-purple);

                    &:hover {
                        box-shadow: 8px 8px 0px rgba(0,0,0,0.15);
                    }
                }

                &.secondary {
                    color: #FFBC3A;
                    background: rgba(255, 188, 58, 0.14);
                    border: 1px solid #FFBC3A;
                    
                    &:hover {
                        box-shadow: 8px 8px 0px rgba(0,0,0, .15);
                    }
                }

            }
        }

        @media screen and (max-width: 942px) {
            &_image {
                max-width: 90vw;
                width: 500px;
                height: fit-content;
                margin-top: 50px;
            }
        }
    }
</style>
