---
const boxes = [
    {
        title: 'Dev Agencies',
        negatives: [
            'Huge costs ($30K+ for a store)',
            'Months (if not years) of development.',
            'Poor communication'
        ]
    },
    {
        title: 'Freelancers',
        negatives: [
            'There’s a reason people talk down on Upwork and Fiverr.',
            'It cost you $500. Do you really expect it to be good?'
        ]
    },
    {
        title: 'In-house developers',
        negatives: [
            'Paying $120,000 + benefits',
            'Ongoing training costs you time and money'
        ]
    }
];
---

<section class="hiring">
    <h2 class="hiring_title">Hiring Shopify developers <span>shouldn't</span> be a <span>headache</span></h2>
    <div class="hiring_grid">
        {boxes.map(box => <div class="hiring_box">
            <p class="hiring_box-title">{box.title}</p>
            <ul class="hiring_box-negatives">
                {box.negatives.map(n => <li><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 -0.00769043C4.489 -0.00769043 0 4.48131 0 9.99231C0 15.5033 4.489 19.9923 10 19.9923C15.511 19.9923 20 15.5033 20 9.99231C20 4.48131 15.511 -0.00769043 10 -0.00769043ZM10 1.99231C14.4301 1.99231 18 5.56219 18 9.99231C18 14.4224 14.4301 17.9923 10 17.9923C5.56988 17.9923 2 14.4224 2 9.99231C2 5.56219 5.56988 1.99231 10 1.99231ZM6.70703 5.28528L5.29297 6.69934L8.58594 9.99231L5.29297 13.2853L6.70703 14.6993L10 11.4064L13.293 14.6993L14.707 13.2853L11.4141 9.99231L14.707 6.69934L13.293 5.28528L10 8.57825L6.70703 5.28528Z" fill="#FF3636"/></svg>{n}</li>)}
            </ul>
        </div>)}
    </div>
</section>

<style lang="scss">
.hiring {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
        color: #434343;
        text-align: center;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px;
        margin: 0 auto 24px auto;
        max-width: 616px;
        padding: 0 8px;

        span {
            color: var(--lighter-purple);
        }

        @media screen and (max-width: 942px) {
            font-size: 32px;
            line-height: 40px;
        }

        @media screen and (max-width: 450px) {
            font-size: 26px;
            line-height: 32px;
        }
    }

    &_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 29px;
        margin-top: 53px;
        max-width: 1098px;
        padding: 0 24px;
        @media screen and (max-width: 942px) {
            grid-template-columns: 1fr;
            margin-top: 24px;
        }
    }

    &_box {
        padding: 24px;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);

        &-title {
            color: #434343;
            font-size: 22px;
            line-height: 28px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        &-negatives {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0;

            li {
                position: relative;
                list-style: none;
                padding-left: 0;
                color: #9B9B9B;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: start;

                svg {
                    min-width: 20px;
                    margin-right: 14px;
                }
            }
        }
    }
}
</style>
