---
import Badge from '../Badge.astro';
import Container from '../Container.astro';
import PricingCard from './PricingCard.astro';
import AuditPricingCard from '../Audit/AuditPricingCard.astro';
import { Image } from 'astro:assets';
import Brands from '../../images/Brands.png';

const pricing = [
    {
        name: 'Lite',
        monthly: {
            price: '$2,299',
            getStarted: 'https://buy.stripe.com/00gbMh0O7aCb132005',
        },
        quarterly: {
            price: '$1,999',
            getStarted: 'https://buy.stripe.com/aEU4jPeEX25FeTSbIO',
        },
        description: ['For non Shopify Plus stores.','Perfect for smaller businesses'],
        requestsAtATime: 'One request at a time',
        color: false,
        badge: ''
    },
    {
        name: 'Regular',
        monthly: {
            price: '$4,999',
            getStarted: 'https://buy.stripe.com/bIY9E97cv4dN2766oo',
        },
        quarterly: {
            price: '$3,999',
            getStarted: 'https://buy.stripe.com/cN28A5cwPeSr6nm9AB',
        },
        description: ['One request at a time.','Pause or cancel anytime'],
        requestsAtATime: 'One request at a time',
        color: false,
        badge: ''

    },
    {
        name: 'Pro',
        monthly: {
            price: '$7,999',
            getStarted: 'https://buy.stripe.com/dR67w1aoH39J9zy5km',
        },
        quarterly: {
            price: '$6,999',
            getStarted: 'https://buy.stripe.com/5kA03z0O77pZfXW9AD',
        },
        description: ['Double the requests.','Pause or cancel anytime'],
        requestsAtATime: 'Two requests at a time',
        color: true,
        badge: ''
    },
]

const auditsPricing = [
    {
        name: 'Essentials Audit',
        description: 'Identify key issues, and get actionable recommendations.',
        price: '$99',
        points: ['Conversion Review', 'Basic list of recommendations', 'Delivered in 48 hours'],
        color: false,
        badge: '',
        getStarted: 'https://buy.stripe.com/cN203z68r5hRaDC28h'
    },
    {
        name: 'Growth Audit',
        description: 'Comprehensive analysis of your entire store to unlock it\'s full potential.',
        price: '$169',
        wasPrice: '$199',
        points: ['In-depth Conversion Review', 'Strategic recommendations', 'Detailed speed analysis', 'Comprehensive SEO Audit', 'Delivered in 96 hours'],
        color: 'true',
        badge: 'MOST VALUE',
        getStarted: 'https://buy.stripe.com/bIY2bHcwPbGf4fefZ8'
    }
]

interface Props {
    isAudit?: any;
}

const { isAudit } = Astro.props as Props;
---

<section class={`pricing ${isAudit ? 'is-audit' : ''}`} id="pricing">
    <Container>
        <Badge text="Pricing" />
        <h2 class="pricing_title">{isAudit ? <Fragment set:html={`<span style="color: var(--lighter-purple);">Affordable</span> Packages For All Stores`} /> : <Fragment set:html={`Membership <span style="color: var(--lighter-purple);">Levels</span>`} />}</h2>
        <p class="pricing_text">{isAudit ? 'Unlock the Hidden Potential of Your Ecommerce Store with a Futuremerce audit.' : 'Choose a plan that\'s right for you.'}</p>
        {!isAudit ? 
        <div class="pricing_switch">
            <p class="pricing_switch-option active">Billed Monthly</p>
            <div class="pricing_switch-toggle"><div></div></div>
            <p class="pricing_switch-option">Billed Quarterly <span>(Save up to 20%)</span></p>
        </div>
        <div class="pricing_limited-spots">
            2/5 spots left. Get onboarded today!
        </div> : ''}
        {isAudit ? <div class="pricing_grid-container is-audit">
            <div class="pricing_grid active">
                {auditsPricing.map(priceOption => <AuditPricingCard option={priceOption} />)}
            </div>
        </div> : 
        <div class="pricing_grid-container">
            <div class="pricing_grid monthly active">
                {pricing.map(priceOption => <PricingCard option={priceOption} type="monthly" />)}
            </div>
            <div class="pricing_grid quarterly">
                {pricing.map(priceOption => <PricingCard option={priceOption} type="quarterly" />)}
            </div>
        </div>}
        {!isAudit ? <p class="pricing_small-text">All prices are in USD.</p> : <Image alt="" class="pricing_brands" loading="lazy" src={Brands} />}
    </Container>
</section>

<script is:inline>
    window.updateHeight = () => {
        if (document.querySelector('.pricing_grid-container')) {
            document.querySelector('.pricing_grid-container').style.height = `${document.querySelector('.pricing_grid.quarterly') ? document.querySelector('.pricing_grid.quarterly').clientHeight : document.querySelector('.pricing_grid').clientHeight}px`
        }
    }

    window.updateHeight();

    window.addEventListener('resize', () => {
        setTimeout(window.updateHeight, 200);
    });
    
    setTimeout(() => {
        window.updateHeight();
    }, 500);

    setTimeout(() => {
        window.updateHeight();
    }, 1000);

    setTimeout(() => {
        window.updateHeight();
    }, 2000);
</script>

<script>
    const priceSwitch: HTMLElement | null = document.querySelector('.pricing_switch-toggle');

    if (priceSwitch) {
        priceSwitch.addEventListener('click', (e) => {
            document.querySelector('.pricing_switch-option.active').classList.remove('active');
            document.querySelector('.pricing_grid.active').classList.remove('active');

            if (priceSwitch.classList.contains('toggled')) {
                priceSwitch.classList.remove('toggled');
                document.querySelector('.pricing_switch-option:first-of-type').classList.add('active');
                document.querySelector('.pricing_grid.monthly').classList.add('active');
            } else {
                priceSwitch.classList.add('toggled');
                document.querySelector('.pricing_switch-option:last-of-type').classList.add('active');
                document.querySelector('.pricing_grid.quarterly').classList.add('active');
            }
        });

        document.querySelectorAll('.pricing_switch-option').forEach(switchEl => {
            switchEl.addEventListener('click', function(e) {
                if (!this.classList.contains('active')) {
                    priceSwitch.click();
                }
            });
        })
    }
</script>

<style lang="scss">
    .pricing {
        margin-bottom: 50px;
        padding-top: 140px;

        &.is-audit {
            margin-bottom: -20px;

            .pricing_text {
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }

            @media screen and (max-width: 980px) {
                .pricing_grid {
                    max-width: 100% !important;
                }
            }
        }

        &_brands {
            max-width: 100%;
            margin: 60px auto 0;
            height: fit-content;
            display: block;
        }
        
        &_title {
            color: #434343;
            text-align: center;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            margin: 0 auto 24px auto;

            span {
                color: var(--lighter-purple);
            }

            @media screen and (max-width: 942px) {
                font-size: 32px;
                line-height: 40px;
            }

            @media screen and (max-width: 450px) {
                font-size: 26px;
                line-height: 32px;
            }
        }

        &_text {
            margin-bottom: 50px;
            color: #434343;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            
            @media screen and (max-width: 942px) {
                font-size: 16px;
            }
        }

        &_switch {
            display: flex;
            justify-content: center;

            &-option {
                color: #434343;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px; 
                text-align: center;
                width: fit-content;
                transition: .3s ease-in-out;
                cursor: pointer;

                
                @media screen and (max-width: 942px) {
                    font-size: 15px;
                }

                &.active {
                    color: var(--lighter-purple);
                }

                > span {
                    display: block;
                    color: #757575;
                    font-weight: 400;
                    margin-top: 8px;
                }
            }

            &-toggle {
                border-radius: 99px;
                background: #D9D9D9;
                cursor: pointer;
                width: 46px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 2px;
                margin: 0 30px;
                transition: .3s ease-in-out;

                
                @media screen and (max-width: 942px) {
                    margin: 0 16px;
                }

                > div {
                    width: 20px;
                    height: 20px;
                    border-radius: 99px;
                    background: #FFF;
                    transition: .3s ease-in-out;
                }

                &.toggled {
                    background: var(--lighter-purple);

                    > div {
                        margin-left: 24px;
                    }
                }
            }
        }

        &_limited-spots {
            width:fit-content;
            margin: 42px auto 0;
            width: fit-content;
            padding: 10px 24px;
            border-radius: 6px;
            border: 1px solid var(--lighter-purple);
            color: var(--lighter-purple);
            font-size: 16px;
            font-weight: 700;

            /* HIDE FOR NOW */
            display: none;
        }

        &_grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
            margin-top: 12px;
            transition: opacity .5s ease;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            @media screen and (max-width: 980px) {
                grid-template-columns: 1fr;
                max-width: 500px;
                left: 50%;
                transform: translateX(-50%);
            }

            @media screen and (max-width: 450px) {
                margin-top: 16px;
            }

            &:not(.active) {
                opacity: 0;
            }

            &.active {
                z-index: 5;
            }

            &-container {
                width: 100%;
                max-width: 1072px;
                margin: 42px auto 0 auto;
                position: relative;
                height: 650px;

                &.is-audit .pricing_grid {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-width: 767px) {
                        flex-direction: column;
                        row-gap: 32px;
                    }
                }
            }
        }

        &_small-text {
            margin-top: 50px;
            color: #434343;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
            opacity: .75;
            @media screen and (max-width: 980px) {
                margin-top: 0;
                line-height: 30px;
            }
        }

    }
</style>
