---
import Badge from '../Badge.astro';
import Step from './Step.astro';
import Container from '../Container.astro';

const steps: string[] = [
`Subscribe to a plan & request as much development as you'd like.`,
`Receive your completed work within a few business days on average.`,
`We'll revise the work until you're 100% satisfied and happy.`
]
---

<section class="process" id="how-it-works">
    <Container>
        <Badge text="How It Works" light={false}/>
        <h2 class="process_title">We didn't <span>re-invent</span> the wheel, just <span>development</span></h2>
        <div class="process_steps">
            {steps.map((step, index) => <Step text={step} num={index + 1} />)}
        </div>
    </Container>
</section>

<style lang="scss">
    .process {
        padding-top: 72px;
        
        &_title {
            color: #434343;
            text-align: center;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            max-width: 545px;
            margin: 0 auto;

            > span {
                color: var(--lighter-purple);
            }

            @media screen and (max-width: 942px) {
                font-size: 32px;
                line-height: 40px;
            }

            
            @media screen and (max-width: 450px) {
                font-size: 26px;
                line-height: 32px;
            }
        }

        &_steps {
            margin-top: 90px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 51px;
            
            @media screen and (max-width: 942px) {
               grid-template-columns: 1fr;
               max-width: 400px;
               margin: 90px auto 0;
            }
        }
    }
</style>