---
interface Props {
    index: number;
    title: string;
    text: string;
}

const { index, text, title} = Astro.props as Props;

const icons = [
    `<svg width="58" height="57" viewBox="0 0 58 57" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="28.5892" cy="28.5" rx="28.5892" ry="28.5" fill="#8B81FF"/><path d="M41.1943 20.1494L36.0076 25.3347L31.2943 20.6201L36.4796 15.4347C34.8975 14.7843 33.1583 14.6166 31.481 14.9526C29.8037 15.2887 28.2634 16.1135 27.0539 17.3232C25.8445 18.5329 25.02 20.0735 24.6843 21.7509C24.3487 23.4282 24.5168 25.1674 25.1676 26.7494L16.7996 35.116C16.6757 35.2398 16.5774 35.3867 16.5103 35.5485C16.4432 35.7102 16.4087 35.8836 16.4087 36.0587C16.4087 36.2338 16.4432 36.4072 16.5103 36.569C16.5774 36.7307 16.6757 36.8777 16.7996 37.0014L19.629 39.8307C19.7527 39.9546 19.8996 40.053 20.0614 40.12C20.2231 40.1871 20.3965 40.2217 20.5716 40.2217C20.7467 40.2217 20.9201 40.1871 21.0819 40.12C21.2436 40.053 21.3906 39.9546 21.5143 39.8307L29.881 31.4627C31.4631 32.114 33.2026 32.2825 34.8803 31.947C36.5581 31.6115 38.099 30.787 39.309 29.5774C40.5182 28.3671 41.3424 26.8262 41.6778 25.1486C42.0133 23.471 41.8451 21.7316 41.1943 20.1494Z" fill="white"/></svg>`,
   `<svg width="58" height="57" viewBox="0 0 58 57" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="29.0775" cy="28.5" rx="28.5892" ry="28.5" fill="#8B81FF"/><path d="M39.7313 27.6825L25.7313 42.6825C25.5829 42.8408 25.3871 42.9466 25.1733 42.9839C24.9596 43.0211 24.7395 42.9879 24.5463 42.8891C24.3531 42.7903 24.1973 42.6314 24.1024 42.4363C24.0075 42.2412 23.9786 42.0205 24.02 41.8075L25.8525 32.6412L18.6488 29.9362C18.4941 29.8784 18.3561 29.7831 18.2472 29.6589C18.1383 29.5347 18.0619 29.3854 18.0248 29.2245C17.9876 29.0635 17.9909 28.8959 18.0344 28.7365C18.0778 28.5772 18.1601 28.431 18.2738 28.3112L32.2738 13.3112C32.4222 13.1529 32.618 13.0471 32.8317 13.0099C33.0455 12.9726 33.2656 13.0059 33.4588 13.1046C33.652 13.2034 33.8078 13.3624 33.9027 13.5575C33.9976 13.7526 34.0265 13.9733 33.985 14.1862L32.1475 23.3625L39.3513 26.0637C39.5049 26.122 39.6417 26.2172 39.7498 26.3409C39.8578 26.4646 39.9337 26.613 39.9708 26.773C40.0079 26.933 40.005 27.0997 39.9623 27.2583C39.9197 27.417 39.8386 27.5626 39.7263 27.6825H39.7313Z" fill="white"/></svg>`,
    `<svg width="58" height="57" viewBox="0 0 58 57" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="28.5892" cy="28.5" rx="28.5892" ry="28.5" fill="#8B81FF"/><path d="M36.5427 28.0093C36.2313 28.0413 35.9332 28.1516 35.676 28.33C35.4189 28.5084 35.2111 28.7489 35.072 29.0293L33.932 31.3266L31.3893 31.696C30.696 31.792 30.1093 32.2826 29.8907 32.9546L29.84 33.1413C29.7067 33.7613 29.9013 34.4133 30.364 34.8613L32.2 36.644L31.7653 39.1666C31.7083 39.5073 31.7475 39.8571 31.8783 40.1767C32.0092 40.4964 32.2265 40.7732 32.5061 40.9761C32.7856 41.179 33.1161 41.3 33.4606 41.3254C33.805 41.3508 34.1497 41.2797 34.456 41.12L36.7333 39.9266L39.0107 41.1213C39.3163 41.2822 39.6608 41.3543 40.0053 41.3296C40.3498 41.3048 40.6805 41.1842 40.96 40.9813L41.1093 40.8613C41.3432 40.6517 41.52 40.3861 41.6231 40.0894C41.7262 39.7928 41.7522 39.4748 41.6987 39.1653L41.2653 36.644L43.1053 34.8586C43.612 34.364 43.7933 33.6266 43.5747 32.956L43.5067 32.7773C43.379 32.491 43.1808 32.2417 42.9306 32.0528C42.6804 31.8639 42.3863 31.7416 42.076 31.6973L39.5333 31.3266L38.396 29.0306C38.2422 28.7212 38.0051 28.4607 37.7113 28.2787C37.4176 28.0966 37.0789 28.0001 36.7333 28L36.5427 28.0093ZM21.076 28.0093C20.7647 28.0413 20.4665 28.1516 20.2094 28.33C19.9522 28.5084 19.7444 28.7489 19.6053 29.0293L18.4653 31.3266L15.9227 31.696C15.2293 31.792 14.6427 32.2826 14.424 32.9546L14.3733 33.1413C14.24 33.7613 14.4347 34.4133 14.8973 34.8613L16.7333 36.644L16.2987 39.1666C16.2417 39.5073 16.2808 39.8571 16.4116 40.1767C16.5425 40.4964 16.7599 40.7732 17.0394 40.9761C17.3189 41.179 17.6494 41.3 17.9939 41.3254C18.3384 41.3508 18.6831 41.2797 18.9893 41.12L21.2667 39.9266L23.544 41.1213C23.8496 41.2822 24.1942 41.3543 24.5386 41.3296C24.8831 41.3048 25.2138 41.1842 25.4933 40.9813L25.6427 40.8613C25.8765 40.6517 26.0533 40.3861 26.1564 40.0894C26.2595 39.7928 26.2855 39.4748 26.232 39.1653L25.8 36.644L27.64 34.8586C28.1467 34.364 28.328 33.6266 28.1093 32.956L28.0413 32.7773C27.9137 32.491 27.7155 32.2417 27.4652 32.0528C27.215 31.8639 26.921 31.7416 26.6107 31.6973L24.0667 31.3253L22.9293 29.0293C22.7753 28.7201 22.5381 28.4599 22.2444 28.2781C21.9507 28.0963 21.6121 27.9999 21.2667 28L21.076 28.0093ZM28.8093 14.676C28.498 14.708 28.1999 14.8183 27.9427 14.9967C27.6855 15.175 27.4777 15.4156 27.3387 15.696L26.1987 17.9933L23.656 18.3626C22.9627 18.4586 22.376 18.9493 22.1573 19.6213L22.1067 19.808C21.9733 20.428 22.168 21.08 22.6307 21.528L24.4667 23.3106L24.032 25.8333C23.975 26.174 24.0141 26.5238 24.145 26.8434C24.2758 27.163 24.4932 27.4399 24.7727 27.6428C25.0522 27.8457 25.3828 27.9667 25.7272 27.9921C26.0717 28.0175 26.4164 27.9463 26.7227 27.7866L29 26.5946L31.2787 27.7893C31.5843 27.9502 31.9288 28.0223 32.2733 27.9976C32.6178 27.9728 32.9485 27.8522 33.228 27.6493L33.3773 27.5293C33.6112 27.3197 33.788 27.0541 33.8911 26.7574C33.9942 26.4608 34.0202 26.1428 33.9667 25.8333L33.5333 23.3106L35.3733 21.5253C35.88 21.0306 36.0613 20.2933 35.8427 19.6226L35.7747 19.444C35.647 19.1576 35.4488 18.9084 35.1986 18.7195C34.9484 18.5306 34.6543 18.4083 34.344 18.364L31.8 17.992L30.6627 15.696C30.5087 15.3867 30.2715 15.1266 29.9778 14.9448C29.684 14.7629 29.3454 14.6666 29 14.6666L28.8093 14.676Z" fill="white"/></svg>`
]
---

<div class="step">
    <Fragment set:html={icons[index]} />
    <h5 class="step_title">{title}</h5>
    <p class="step_text">{text}</p>
</div>

<style is:inline>
    .step svg {
            position: absolute;
            top: -28.5px;
            left: 50%;
            transform: translateX(-50%);
    }
</style>

<style lang="scss">
    .step {
        position: relative;
        padding: 54px 22px 30px 22px;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.06);

        &_title {
            margin-bottom: 12px;
            font-size: 20px;
            line-height: 24px;
            color: #282828;
            font-weight: 700;
            text-align: center;
        }

        &_text {
            color: #282828;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            
            @media screen and (max-width: 450px) {
                font-size: 14.5px;
            }
        }
    }
</style>