<section class="text-banner">
    <p class="text-banner_text">Damn, why didn’t we find you sooner?</p>
</section>

<style lang="scss">
    .text-banner {
        width: 100%;
        padding: 52px 24px;
        background: var(--lighter-purple);
        margin-top: 100px;
    
        &_text {
            color: #fff;
            text-align: center;
            font-size: 42px;
            line-height: 50px;
            font-weight: 700;
        }
    }
</style>