---
interface Props {
    frontmatter: any
}

const { frontmatter } = Astro.props as Props;
---
<div class="share">
    <input style="display:none" value={`/posts/${frontmatter.slug}`} id="social-url">
    <a class="share-link" id="copy" title="Copy"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.6352 14.6695C10.6787 14.7131 10.7133 14.7648 10.7369 14.8217C10.7605 14.8786 10.7726 14.9396 10.7726 15.0012C10.7726 15.0628 10.7605 15.1238 10.7369 15.1807C10.7133 15.2376 10.6787 15.2893 10.6352 15.3328L9.85782 16.1094C9.06652 16.9007 7.99329 17.3452 6.87422 17.3452C5.75516 17.3452 4.68193 16.9007 3.89063 16.1094C3.09933 15.3181 2.65479 14.2448 2.65479 13.1258C2.65479 12.0067 3.09933 10.9335 3.89063 10.1422L5.77422 8.25781C6.53504 7.49612 7.55827 7.05412 8.63437 7.02231C9.71048 6.99051 10.758 7.3713 11.5625 8.08671C11.6087 8.12775 11.6463 8.17748 11.6733 8.23306C11.7002 8.28864 11.7159 8.34899 11.7196 8.41065C11.7232 8.47232 11.7146 8.53409 11.6944 8.59245C11.6741 8.65081 11.6426 8.70461 11.6016 8.75077C11.5605 8.79694 11.5108 8.83458 11.4552 8.86152C11.3996 8.88847 11.3393 8.90421 11.2776 8.90784C11.216 8.91147 11.1542 8.90291 11.0958 8.88266C11.0375 8.86242 10.9837 8.83088 10.9375 8.78984C10.3118 8.23406 9.49747 7.93834 8.66098 7.96317C7.82449 7.988 7.02909 8.33151 6.43751 8.92343L4.55313 10.8047C3.93754 11.4203 3.5917 12.2552 3.5917 13.1258C3.5917 13.9964 3.93754 14.8313 4.55313 15.4469C5.16872 16.0625 6.00364 16.4083 6.87422 16.4083C7.7448 16.4083 8.57972 16.0625 9.19532 15.4469L9.97188 14.6695C10.0154 14.6259 10.0671 14.5914 10.124 14.5678C10.1809 14.5442 10.2419 14.532 10.3035 14.532C10.3651 14.532 10.4261 14.5442 10.483 14.5678C10.5399 14.5914 10.5916 14.6259 10.6352 14.6695ZM16.1094 3.88827C15.3176 3.09795 14.2445 2.65408 13.1258 2.65408C12.007 2.65408 10.934 3.09795 10.1422 3.88827L9.36485 4.66484C9.27689 4.75279 9.22748 4.87209 9.22748 4.99648C9.22748 5.12087 9.27689 5.24016 9.36485 5.32812C9.45281 5.41607 9.5721 5.46549 9.69649 5.46549C9.82088 5.46549 9.94017 5.41607 10.0281 5.32812L10.8047 4.54687C11.4203 3.93128 12.2552 3.58544 13.1258 3.58544C13.9964 3.58544 14.8313 3.93128 15.4469 4.54687C16.0625 5.16246 16.4083 5.99738 16.4083 6.86796C16.4083 7.73854 16.0625 8.57346 15.4469 9.18906L13.5625 11.0789C12.9709 11.6708 12.1755 12.0143 11.339 12.0392C10.5025 12.064 9.68816 11.7683 9.0625 11.2125C8.96926 11.1296 8.84692 11.0872 8.72238 11.0945C8.59785 11.1018 8.48132 11.1583 8.39844 11.2516C8.31556 11.3448 8.27312 11.4671 8.28044 11.5917C8.28777 11.7162 8.34426 11.8327 8.4375 11.9156C9.2419 12.6306 10.2891 13.0111 11.3648 12.9793C12.4406 12.9475 13.4635 12.5058 14.2242 11.7445L16.1078 9.86015C16.5002 9.46844 16.8115 9.00325 17.0239 8.49115C17.2363 7.97906 17.3458 7.43012 17.3459 6.87571C17.346 6.3213 17.2369 5.7723 17.0247 5.26009C16.8126 4.74789 16.5015 4.28253 16.1094 3.89062V3.88827Z" fill="#626262"/></svg></a>

    <a href="mailto:me@mail.com?subject=Futuremerce%20Article&Body=Check%20out%20this%20article%20I%20just%20read%20" class="share-link" id="send" title="Share via email"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6667 8.33334L9.16672 10.8333M16.9067 2.52584C16.9858 2.49855 17.0709 2.49406 17.1525 2.51288C17.234 2.5317 17.3085 2.57307 17.3676 2.63226C17.4267 2.69146 17.468 2.76608 17.4867 2.84762C17.5054 2.92915 17.5008 3.0143 17.4734 3.09334L12.5367 17.2017C12.5072 17.286 12.453 17.3595 12.3811 17.4127C12.3093 17.4658 12.2232 17.4962 12.1339 17.4998C12.0446 17.5034 11.9563 17.48 11.8804 17.4328C11.8045 17.3856 11.7446 17.3167 11.7084 17.235L9.02588 11.2C8.98114 11.0994 8.90068 11.0189 8.80005 10.9742L2.76505 8.29084C2.68363 8.25449 2.61498 8.19455 2.56797 8.11878C2.52096 8.04301 2.49775 7.95489 2.50134 7.86579C2.50493 7.7767 2.53515 7.69073 2.5881 7.61898C2.64105 7.54724 2.7143 7.49302 2.79838 7.46334L16.9067 2.52584Z" stroke="#626262" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></a>

    <a href="https://www.facebook.com/sharer/sharer.php?u=" class="share-link" title="Share via Facebook"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6668 11.25H13.7502L14.5835 7.91667H11.6668V6.25001C11.6668 5.39167 11.6668 4.58334 13.3335 4.58334H14.5835V1.78334C14.3118 1.74751 13.286 1.66667 12.2027 1.66667C9.94016 1.66667 8.3335 3.04751 8.3335 5.58334V7.91667H5.8335V11.25H8.3335V18.3333H11.6668V11.25Z" fill="#626262"/></svg></a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url=" class="share-link" title="Share via LinkedIn"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.78353 4.16666C5.78331 4.60869 5.6075 5.03252 5.29478 5.34493C4.98207 5.65733 4.55806 5.83272 4.11603 5.83249C3.674 5.83227 3.25017 5.65647 2.93776 5.34375C2.62536 5.03103 2.44997 4.60702 2.4502 4.16499C2.45042 3.72297 2.62622 3.29913 2.93894 2.98673C3.25166 2.67432 3.67567 2.49894 4.1177 2.49916C4.55972 2.49938 4.98356 2.67519 5.29596 2.98791C5.60837 3.30062 5.78375 3.72463 5.78353 4.16666ZM5.83353 7.06666H2.5002V17.5H5.83353V7.06666ZM11.1002 7.06666H7.78353V17.5H11.0669V12.025C11.0669 8.975 15.0419 8.69166 15.0419 12.025V17.5H18.3335V10.8917C18.3335 5.74999 12.4502 5.94166 11.0669 8.46666L11.1002 7.06666Z" fill="#626262"/></svg></a>

    <a href="https://twitter.com/home?status=" class="share-link" title="Share via Twitter"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6175 8.66L17.9463 1.25H16.4462L10.9525 7.68375L6.5625 1.25H1.5L8.1375 10.98L1.5 18.75H3L8.8025 11.955L13.4388 18.75H18.5012L11.6175 8.66ZM9.56375 11.065L8.89125 10.0962L3.54 2.3875H5.84375L10.1613 8.60875L10.8337 9.5775L16.4475 17.665H14.1437L9.56375 11.065Z" fill="#626262"/></svg></a>
</div>

    
<script is:inline>
    document.getElementById('copy').addEventListener('click', async function(e) {
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();

        let text = window.location.href.replace(window.location.pathname, '') + document.getElementById('social-url').value;
            
        try {
            await navigator.clipboard.writeText(text);
            alert('Copied to clipboard');
        } catch (err) {
            console.error('Failed to copy: ', err);
        }
    });

    document.querySelectorAll('.share a:not(#copy)').forEach(link => {
        link.href += window.location.href.replace(window.location.pathname, '') + document.getElementById('social-url').value;
    });
</script>

<style lang="scss">
    .share {
        display: flex;
        align-items: center;
        gap: 12px;

        a {
            cursor: pointer;
            transition: .25s ease-in-out;
        }

        a:hover {
            opacity: .5;
        }
    }
</style>